*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    background: url("../images/winter-nature-season-trees-66284.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    /* background-position: 100% 100%; */
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
img{
    width: 25px;
    height: 22px;
}
h1{
    font-size: 2.5rem;
}
h3{
    font-size: 2rem;
}

/* modal hero */
.gen{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
}

.banner{
    flex-direction: column;
} 
.btn{
    display: block;
    margin: 0 auto;
    margin-top: 1.5rem;
    width: 118px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: rgb(1, 128, 128);
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    transition: all 0.3s linear;
}
.btn:hover{
    background-color: rgb(87, 122, 122);
    cursor: pointer;
}

/* modal overlay */

.modalOverlay{
    z-index: -10;
    background-color: rgb(211, 211, 211);
    visibility: hidden;
    text-transform: capitalize;
    transition: all 0.3s linear;
}
.close {
    position: relative;
}
.closeBtn {
    position: absolute;
    top: -6rem;
    border-radius: 50%;
    transition: all 0.3s linear;
}
.closeBtn:hover {
    cursor: pointer;
    transform: rotate(60deg) scale(.7);
    /* transform: rotate(60deg) scale(1); */
    cursor: pointer;
}
.banner, .modalContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    margin: 0 auto;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 5px 10px grey;
    height: 32vh;
}

/* show modal popup*/

.showModal{
    z-index: 10;
    visibility: visible;
}

/* media query */
@media  all and (max-width:360px) {
    h1{
        font-size: 2rem;
    }
    h3{
        font-size: 1.5rem;
    }
}
@media screen and (max-width:510px) {
    .banner, .modalContainer{
        max-width: 92%;
    }
}
